<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <br>
  <% @picture.images.each do |pic| %>
    <%= image_tag pic.photo.url(:thumb) %>
  <% end %>
</p>


<%= link_to 'Back', new_picture_path %>
